<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h2>
                        AngularJS directive for d3 heatmap
                    </h2>
                </div>
                <div class="col-md-6">
                    <div class="text-right" style="margin-top: 20px;">
                        <div class="calibration" role="calibration">
                            <div class="group" role="example">
                                <svg width="80" height="9"></svg>
                                <div role="description" class="description">
                                    <label>Less</label>
                                    <label>More</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">

                <i class="clearfix"></i>
                <d3-heatmap class="heatmap" data="data"></d3-heatmap>
            </div>
        </div>

    </div>
</div>
